@charset "utf-8";
/* CSS Document */

<style>
#wrapper {width: 1600px;
height: 450px;
margin: 0px;}

body {background-image: url(background.jpg);}

h2, ul {font-family: 'Alegreya Sans SC', arial, helvetica, sans-serif;
font-size: 2em;
text-align: center;}

referencelist {font-family: arial, helvetica, sans-serif;
font-size: 1em;
line-height: 1.5em;
margin-left: 150px;
margin-right: 150px;}

.relref {font-family: arial, helvetica, sans-serif;
font-size: 1.5em;
color: #6b574c;}

.nav {border-style: solid;
border-width: 3px;
padding: .5em;
border-color: #6b574c;
background-color: #6b574c;
margin-top: -25px;
margin-left: -7px;
margin-right: -7px;
word-spacing: 30px;}

.content {font-family: arial, helvetica, sans-serif;
font-size: 1em;
line-height: 1.5em;
text-align: left;
margin-left: 110px;}

h3 {font-family: arial, helvetica, sans-serif;
font-size: 1.5em;
margin-left: 50px;
margin-right: 50px;
text-indent: 2em;
color: #6b574c;
margin-top: 20px;}

p {font-family: arial, helvetica, sans-serif;
font-size: 1em;
line-height: 1.5em;
margin-left: 150px;
margin-right: 150px;}

.lhead {font-family: 'Alegreya Sans SC', arial, helvetica, sans-serif;
font-size: 4em;
color: #746c52;
margin-left: 2em;
margin-bottom: 0px;}

.shead {font-family: arial, helvetica, sans-serif;
font-size: 1.5em;
margin-left: 100px;
margin-right: 50px;
text-indent: 2em;
color: #6b574c;
margin-top: 20px;}

div#a {display: block;
float: center;
width: 4,000px;
height: auto;
margin-left: 150px;
margin-right: 150px;
background-color: #cdab94;
border-color: #cdab94;
border-style: solid;
border-width: 3px;
padding: 1em;
border-radius: 1em;
margin-bottom: 50px;}

div#b {display: block;
float: center;
width: 4,000px;
height: auto;
margin-left: 150px;
margin-right: 150px;
background-color: #cdab94;
border-color: #cdab94;
border-style: solid;
border-width: 3px;
padding: 1em;
border-radius: 1em;
margin-bottom: 50px;}

div#c {display: block;
float: center;
width: 4,000px;
height: auto;
margin-left: 150px;
margin-right: 150px;
background-color: #cdab94;
border-color: #cdab94;
border-style: solid;
border-width: 3px;
padding: 1em;
border-radius: 1em;
margin-bottom: 50px;}

div#d {display: block;
float: center;
width: 4,000px;
height: auto;
margin-left: 150px;
margin-right: 150px;
margin-bottom: -175px;
background-color: #cdab94;
border-color: #cdab94;
border-style: solid;
border-width: 3px;
padding: 1em;
border-radius: 1em;}

.footer {border-style: solid;
border-width: 3px;
padding: .5em;
border-color: #6b574c;
background-color: #6b574c;
margin-top: 275px;
margin-left: -7px;
margin-right: -7px;
margin-bottom: -20px;
word-spacing: 30px;}

a:link, a:visited {color: #201b18;}
a:hover {color: #746c52;}
</style>